@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Madimi One', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
}
/*#region Header */
header{
    background-color: black;
    color: white;
    width: 100%;
    height: 10vh;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.links{
    display: flex;
    align-items: flex-end;
    width: 60%;
}
.sectionsRef{
    display: flex;
    justify-content: end;
    gap: 2rem;
}
#logo{
    background-color: #FFF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: transform 0.7s ease-in-out;
}
#logo:hover{
    transform: rotate(360deg);
}
ul{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
}
li:hover{
    cursor: pointer;
    color: aqua;    
}
.iconContainer{
    width: 20%;
}
.icon{
    width: 1.8rem;
}
.icon:hover{
    filter: drop-shadow(1px 0 3px aqua);
}
/*#endregion */
/*#region Hero */
.mainHero{
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #FFF;
    
}
.heroInfo{
    display: flex;
    flex-direction: column;
    border-radius: 10px 0;
    width: 100%;

}
#arrow{
    align-self: flex-end;
    margin-right: 15%;
    width: 15%;
}
#arrowImg{
    width: 50%;
}
.csarContainer{
    background-color: #e2e2e2;
    height: 50%;
    width: 70%;
    border-radius: 0 226px 226px 0;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: end;
}
#csarHero{
    margin-bottom: -4.9%;
    margin-right: -3%;
    height: 66vh;
    filter: drop-shadow(-5px 1px 10px #08b6fb);
}
h1{
    font-size: 5rem;
}
.textContainer{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
}
.textContainer>div{
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 8%;
    margin: 3% 0 3% 0;
}
/*#endregion*/
/*#region Slider */
.workSpace{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
    color: #848484;
    margin-top: 2%;
}
hr{
    width: 20%;
    height: 3px;
    background-color: #D9D9D9;
    border: none;
}

#slider{
    margin: 0 5.5% 0 5.5%;
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSlider{
    width: 85%;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.imgSlider .slide{
    width: 85%;
    z-index: 1;
    position: absolute;
    clip-path: circle(0% at 0 50%);
}
.imgSlider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 1.5s ease-in-out;
    transition-property: clip-path;
}

.imgSlider .slide img{
    z-index: 1;
    width: 100%;
    height: 80vh;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #000 ;
}

.imgSlider .slide .sliderInfo{
    position: absolute;
    top: 0;
    padding: 15px 30px;
    text-shadow: 2px #000;
}
.imgSlider .slide .sliderInfo h2{
    color: #FFF;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}
.imgSlider .slide .sliderInfo p{
    color: #FFF;
    background: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    width: 50%;
    padding: 10px;
    border-radius: 4px;
}

.imgSlider .navigation{
    z-index: 10;
    position: absolute;
    display: flex;
    align-self: flex-end;
}

.imgSlider .navigation .btn{
    background: #fff;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 1px 2px black;
    cursor: pointer;
}
.imgSlider .navigation .btn.active{
    background: aqua;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
/*#endregion */
/*#region Contact */
.contact{
    width: 100%;
    height: 92vh;
    background: #262020;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70%;
    gap: 3%;
    background: rgba(63, 42, 42, 0.785);
    box-sizing: border-box;
    box-shadow: 1px 10px 25px rgb(87, 70, 173);
    border-radius: 20px;
}
.formInput{
    position: relative;
}
.formInput input{
    width: 70%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.formInput label{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}
.formInput input:focus ~ label,
.formInput input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.textarea{
    display: flex;
    flex-direction: column;
}
textarea{
    width: 50%;
    background: transparent;
    color: white;
}
button{
    background-color: transparent;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    width: 15%;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px
}
button:hover{
    border-style: none;
    scale: 1.05;
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}
button:active{
    scale: 1;
    opacity: 0.8;
}
/*#endregion*/
/*#region Footer */
footer{
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #A3A3A3;
    width: 100%;
    color: #FFF;
}

#copyright{
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
#copyright>img{
    width: 30px;
}
.footerList{
    width: 30%;
    gap: 10%;
}
/*#endregion */